<div class="bg" style="background-color:
#F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left: 80px;">Sign Up</h1>
                    </div>
                </div>
                <form nz-form [formGroup]="signupForm">
                    <nz-form-item>
                        <nz-form-control nzHas Feedback nzErrorTip="The input is not valid E-mail!">
                            <input nz-input placeholder="E-mail" id="email" formControlName="email" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzHas Feedback [nzErrorTip]="errorPass">
                            <input nz-input placeholder="Password" type="password" id="password"
                                formControlName="password" />
                            <ng-template #errorPass let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Password Is Required!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Password Should Conatins 8 Characters, 1 Lowercase, 1 Uppercase, 1 Number and 1
                                    Special character
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHas Feedback [nzErrorTip]="errorTpl">
                            <input nz-input type="password" placeholder="Confirm Password" id="checkPassword"
                                formControlName="checkPassword" />
                            <ng-template #errorTpl let-control>
                                <ng-container *ngIf="control.has Error('required')">
                                    Please confirm your password!
                                </ng-container>
                                <ng-container *ngIf="control.has Error('confirm')">
                                    Two passwords that you enter is inconsistent!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpi">
                            <input nz-input placeholder="Name" id="username" formControlName="name"/>
                            <ng-template #userErrorTpi let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your username !
                                </ng-container>
                            </ng-template>

                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register()" [disabled]="signupForm.invalid">
                        Register</button>
                    or <a routerLink="/login"> login now !</a>
                </form>
            </div>
        </div>
    </nz-spin>
</div>